# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
lib/

# Compiled executables (Windows)
*.exe

Makefile*
.depend*
*.sln

# Artifacts
*.swp

#visual studio work files
*vcproj*
*vcxproj*
*Debug*
*.pdb
*.ilk
.vs/
*.VC.*

# test output files
*.log

#helper/customized commands
# (use single letter names and don't add to repo)
?.cmd
?.bat

#a place to hide documents that should not go into the repo:
doc/NotGitWorthy/